header nav ul li:nth-child(1) a{
    color: var(--orange-color);
}

@media screen and (max-width:768px){
    .aboutmain{
        padding-top: 17vw;
    }
}

.banner{
    width: 100%;
    /* height: 25vw; */
    vertical-align: bottom;
    position: relative;
}


.banner h2{
    color: #fff;
    font-size: var(--h2-font-size);
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    
    position: absolute;
    top: 45%;
    /* bottom: 0; */
    left: 13.2vw;
    animation: bannertitle 1s;
}

@media screen and (max-width:768px){
    .banner h2{
        font-size: var(--h2ph-font-size);
    }
}

@keyframes bannertitle{
    0%{
        left: 11.2vw;
    }

    100%{
        left: 13.2vw;
    }
}

.banner img{
    width: 100%;
    vertical-align: bottom;
}

@media screen and (max-width:768px){
    .banner img{
        height: 200px;
        object-fit: cover;
        object-position: left top;
    }
}


/* ============================================= */


.brand{
    position: relative;
    width: 100%;
    padding: 9.5vw 0 0 0;
    /* height: 50vw; */
    /* background-color: var(--orange-color); */
}

@media screen and (max-width:1024px){
    .brand{
        padding: 13vw 0 0 0;
    }
}

@media screen and (max-width:768px){
    .brand{
        padding: 18vw 0 0 0;
    }
}

.brand .logo{
    position: absolute;
    left: 39%;
    top: 43%;
}

.brand .logo img{
    width: 20vw;
} 

.brand .title{
    display: flex;
    flex-direction: column;
}

.brand .tokira{
    color: var(--green-color);
    font-size: 10vw;
    align-self: flex-start;
    padding-bottom: 4vw;
}

.brand .together{
    color: var(--green-color);
    font-size: 10vw;
    align-self: flex-end;
}

.brand .sticker-bc img{
    position: absolute;
    left: 30vw; 
    top: 9vw;
    width: 7vw;
    height: 3vw;
    transform: rotate(-11deg);
    vertical-align: bottom;
}


.brand .sticker-circlebomb img{
    position: absolute;
    left: 6.5vw; 
    top: 14vw;
    width: 7.5vw;
    transform: rotate(-27deg);
    vertical-align: bottom;
    animation: sticker-circlebomb 12s infinite linear;
}

@keyframes sticker-circlebomb{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.brand .sticker-sun img{
    position: absolute;
    right: 4vw; 
    top: 20vw;
    width: 6vw;
    transform: rotate(-16deg);
    vertical-align: bottom;
    animation: sticker-sun 2s infinite alternate linear;
}

@keyframes sticker-sun{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

.brand .sticker-earth img{
    position: absolute;
    right: 6vw; 
    top: 21vw;
    width: 8.5vw;
    transform: rotate(19deg);
    vertical-align: bottom;
}

@media screen and (max-width:1024px){
    .brand .logo{
        left: 33%;
        top: 40%;
    }
    
    .brand .logo img{
        width: 30vw;
    } 
    
    .brand .tokira{
        font-size: 12vw;
        padding-bottom: 10vw;
    }
    
    .brand .together{
        font-size: 12vw;
    }
    
    .brand .sticker-bc img{
        left: 35vw; 
        top: 11vw;
        width: 9vw;
        height: 5vw;
    }
    
    
    .brand .sticker-circlebomb img{
        left: 6.5vw; 
        top: 18vw;
        width: 9.5vw;
    }
    
    .brand .sticker-sun img{
        right: 4vw; 
        top: 31vw;
        width: 8vw;
    }
    
    .brand .sticker-earth img{
        right: 6vw; 
        top: 32vw;
        width: 10.5vw;
    }
}

@media screen and (max-width:768px){
    .brand .logo{
        top: 45%;
    }
    
    .brand .logo img{
        width: 32vw;
    } 

    .brand .tokira{
        padding-bottom: 13vw;
    }

    .brand .sticker-bc img{
        left: 35vw; 
        top: 11vw;
        width: 14vw;
        height: 14vw;
    }
    
    .brand .sticker-circlebomb img{
        left: 6.5vw; 
        top: 23.5vw;
        width: 14.5vw;
    }
    
    .brand .sticker-sun img{ 
        top: 33vw;
        width: 13vw;
    }
    
    .brand .sticker-earth img{
        right: 9.5vw; 
        top: 36vw;
        width: 15.5vw;
    }
}

/* ============================================= */


.concept{
    position: relative;
    padding: 9.5vw 0;
}

@media screen and (max-width:1024px){
    .concept{
        padding: 13vw 0 ;
    }
}

@media screen and (max-width:768px){
    .concept{
        padding: 18vw 0 ;
    }
}

.concept h2{
    color: var(--orange-color);
    font-weight: bold; 
    font-size: var(--h2-font-size);
    text-align: center;
    line-height: 6vw;
}

.concept h3{
    color: var(--dkgray-color);
    font-weight: bold;
    font-size: var(--h3-font-size);
    text-align: center;
    line-height: 4vw;
}


.concept .p2{
    display: none;
}

.concept p{
    color: var(--dkgray-color);
    font-size: var(--p-font-size);
    text-align: center;
    line-height: 3vw;
}

@media screen and (max-width:1024px){
    .concept h2{
        line-height: 6vw;
    }
    
    .concept h3{
        line-height: 7vw;
    }

    .concept p{
        line-height: 4vw;
    }
}

@media screen and (max-width:768px){
    .concept h2{
        font-size: var(--h2ph-font-size);
        line-height: 12vw;
    }

    .concept h3{
        font-size: var(--h3ph-font-size);
        line-height: 14vw;
    }

    .concept .p1{
        display: none;
    }

    .concept .p2{
        display: block;
    }
    
    .concept p{
        font-size: var(--pph-font-size);
        line-height: 8vw;
    }
}

.concept .sticker-1o img{
    position: absolute;
    right: 17vw; 
    bottom: -2vw;
    width: 8.5vw;
    transform: rotate(14deg);
    vertical-align: bottom;
}

.concept .sticker-good img{
    position: absolute;
    right: 22vw; 
    bottom: -4vw;
    width: 6.5vw;
    transform: rotate(-3deg);
    vertical-align: bottom;
}

@media screen and (max-width:768px){
    .concept .sticker-1o img{
        right: 10vw; 
        bottom: -8vw;
        width: 16.5vw;
    }
    
    .concept .sticker-good img{
        right: 18vw; 
        bottom: -16vw;
        width: 14.5vw;
    }
}


/* ============================================= */


.line{
    background-color: var(--dkgray-color);
    width: 2px;
    height: 11vw;
    margin: auto;
    animation: line 2s;
}

@keyframes line{
    0%{
        height: 0vw;
    }

    100%{
        height: 11vw;
    }
}

@media screen and (max-width:1024px){
    .line{
        width: 1.5px;
    }
}

@media screen and (max-width:768px){
    .line{
        height: 25vw;
        animation: line2 2s;
    }

    @keyframes line2{
        0%{
            height: 0vw;
        }
    
        100%{
            height: 25vw;
        }
    }
}


/* ============================================= */

.visual{ 
    margin-top: 9.5vw;
}

@media screen and (max-width:1024px){
    .visual{ 
        margin-top: 13vw;
    }
}

@media screen and (max-width:768px){
    .visual{ 
        margin-top: 18vw;
    }
}

.visual .item{
    position: relative;
    padding: 1.7vw 0;
}

.visual .small1{
    vertical-align: bottom;
    position: relative;

    height: 100vh;
    background-size: cover;
    background-image: url(../image/about_visual1.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
}

.visual .small2{
    vertical-align: bottom;
    position: relative;

    height: 100vh;
    background-size: cover;
    background-image: url(../image/about_visual2.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
}

.visual .small3{
    vertical-align: bottom;
    position: relative;

    height: 100vh;
    background-size: cover;
    background-image: url(../image/about_visual3.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
}


.visual img{
    width: 25%;
    vertical-align: bottom;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media screen and (max-width:1024px){
    .visual img{
        width: 40%;
    }
}

@media screen and (max-width:768px){
    .visual img{
        width: 50%;
    }
}

/* .visual .item .large img{
    width: 100%;
    vertical-align: bottom;
} */


/* ============================================= */


.product_type .sticker-hot img{
    position: absolute;
    left: 3vw; 
    bottom: 5vw;
    width: 7vw;
    vertical-align: bottom;
}

.product_type .sticker-snow img{
    position: absolute;
    left: 2vw; 
    bottom: 4.5vw;
    width: 3.5vw;
    transform: rotate(23deg);
    vertical-align: bottom;
}

@media screen and (max-width:768px){
    .product_type .sticker-hot img{
        left: 3vw; 
        bottom: 2vw;
        width: 15vw;
    }
    
    .product_type .sticker-snow img{
        left: 0vw; 
        bottom: -2vw;
        width: 11.5vw;
    }
}


/* ============================================= */


.map{
    border-top: var(--borderpc-border);
}

.map iframe{
    width: 100%;
    vertical-align: bottom;
}

@media screen and (max-width:1024px){
    .map{
        border-top: var(--borderpad-border);
    }
    
    .map iframe{
        height: 25vh;
    }
}

@media screen and (max-width:768px){
    .map iframe{
        height: 40vh;
    }
}