footer{
    background-color: var(--dkgray-color);
    position: relative;
}

footer .sticker-bc img{
    position: absolute;
    transform: rotate(-14.26deg);
    right: 24vw;
    top: -0.5vw;
    width: 9.5vw;
    vertical-align: bottom;
}

footer .sticker-1 img{
    position: absolute;
    right: 4.5vw;
    top: -3.5vw;
    width: 9.5vw;
    vertical-align: bottom;
}

footer .sticker-hagd img{
    position: absolute;
    transform: rotate(-14.71deg);
    right: 8vw;
    top: 1vw;
    width: 12vw;
    vertical-align: bottom;
}

@media screen and (max-width:768px){
    footer .sticker-bc img{
        right: 38vw;
        top: -0.5vw;
        width: 17.5vw;
    }
    
    footer .sticker-1 img{
        right: 4.5vw;
        top: -7vw;
        width: 17.5vw;
    }
    
    footer .sticker-hagd img{
        right: 12vw;
        top: 2vw;
        width: 20vw;
    }
}

/* ============================================= */


footer .front{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 7vw 0 0 0;
}

@media screen and (max-width:768px){
    footer .front{
        padding: 15vw 0 0 0;
    }
}

footer .front .logo img{
    width: 78%;
    vertical-align: bottom;
}

@media screen and (max-width:768px){
    footer .front .logo img{
        width: 68%;
    }
}

@media screen and (max-width:768px){
    footer .front .top{
        display: none;
    }
}

footer .front .top img{
    display: block;
    margin: auto;
    width: 1vw;
    padding:  0 0 0.5vw 0;
    vertical-align: bottom;
}

@media screen and (max-width:1024px){
    footer .front .top img{
        width: 1.8vw;
    }
}

footer .front span{
    color: var(--white-color);
    font-size: var(--span-font-size);
}

footer .front .top a{
    text-decoration: none;
    position: relative;
}


footer .front .top a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    width: 0%;
    height: 0.14vw;
    background-color: var(--white-color);
    transition: .5s;
}

footer .front .top a:hover::after{
    width: 100%;
}



/* ============================================= */

footer .info{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.5vw 0 0 0 ;
}

@media screen and (max-width:768px){
    footer .info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5vw 0 0 0 ;
    }
}

footer .info .item{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px){
    footer .info .item{
        flex-direction: row;
        padding-bottom: 2vw;
    }
}

footer .info a{
    text-decoration: none;
}

footer .info span{
    color: var(--white-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--span-font-size);
    line-height: 20px;
}

@media screen and (max-width:768px){
    footer .info span{
        font-size: var(--spanph-font-size);
    }
}

footer .info a[href^="tel:"]{
    color: var(--white-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--span-font-size);
    line-height: 20px;
    text-decoration: none;
}

@media screen and (max-width:768px){
    footer .info a[href^="tel:"]{
        font-size: var(--spanph-font-size);
    }
}



@media screen and (max-width:768px){
    footer .info .item:first-child span:first-child:after{
        content: "";
        font-family: 'Noto Sans TC', sans-serif;
        font-size: var(--spanph-font-size);
        padding: 0 1vw;
    }

    footer .info .item:nth-child(2) span:first-child:after{
        content: "|";
        color: var(--white-color);
        font-family: 'Noto Sans TC', sans-serif;
        font-size: var(--spanph-font-size);
        padding: 0 2vw;
    }

    footer .info .item:nth-child(3) span:first-child:after{
        content: "|";
        color: var(--white-color);
        font-family: 'Noto Sans TC', sans-serif;
        font-size: var(--spanph-font-size);
        padding: 0 2vw;
    }
}



@media screen and (max-width:768px){
    footer .info .media{
        width: 100%;
        /* padding-top: 3vw;   */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

footer .info .media span{
    font-family: 'Syncopate', sans-serif;
    font-size: var(--span-font-size);
    position: relative;
    padding-left: 3vw;
}

@media screen and (max-width:768px){
    footer .info .media span{
        font-size: var(--spanph-font-size);
        padding-left: 0;
    }
}


footer .info .media span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    width: 0%;
    height: 0.14vw;
    background-color: var(--white-color);
    transition: .5s;
}

footer .info .media span:hover::after{
    width: 100%;
}



footer .info .media .top{
    display: none;
}

@media screen and (max-width:768px){
    footer .info .media .top{
        display: block;
    }
}

footer .info .top img{
    display: block;
    margin: auto;
    width: 3.5vw;
    padding:  0 0 1vw 0;
    vertical-align: bottom;
}

footer .info span{
    color: var(--white-color);
    font-size: var(--spanph-font-size);
}

footer .info .top a{
    text-decoration: none;
    position: relative;
}


footer .info .top a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    width: 0%;
    height: 0.14vw;
    background-color: var(--white-color);
    transition: .5s;
}

footer .info .top a:hover::after{
    width: 100%;
}

/* ============================================= */

footer .bottom{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 2vw 0 4vw 0;
}

@media screen and (max-width:768px){
    footer .bottom{
        flex-direction: column;
        padding: 5vw 0 6vw 0;
    }
}

footer .bottom span{
    color: var(--white-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--span-font-size);
}

@media screen and (max-width:768px){
    footer .bottom span{
        font-size: var(--spanph-font-size);
        line-height: 22px;
        text-align: justify;
    }
}

footer .bottom span:last-child{
    font-family: 'Syncopate', sans-serif;
    font-size: var(--span-font-size);
}

@media screen and (max-width:768px){
    footer .bottom span:last-child{
        font-size: var(--spanph-font-size);
        padding-top: 2vw;
    }
}