body{
    background-color: #ececec;
}

.wrap{
    max-width:1920px;
    margin: auto;
}




header{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    position: fixed;
    z-index: 999;
    width: 100vw;
    box-sizing: border-box;
}

header nav{
    background-color: #fff;
    border-top: 0.14vw solid #3a3a3a;
    border-bottom: 0.14vw solid #3a3a3a;
    width: 100vw;
    height: 3vw;
    /* height: 60px; */
    position: absolute;
    top: 1vw;
    /* top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    display: flex;
    align-items: center;
    /* margin-left: 2vw; */
}


header ul li a{
    text-decoration: none;
    font-family: 'Syncopate', sans-serif;
    font-size: 1.2vw;
    /* font-size: 20px; */
    color: #3a3a3a;
    margin: 0 3vw;
    /* margin: 0 120px; */

}

header ul li a:hover{
    color: #FE793E;
    border-bottom: 0.14vw solid #FE793E;
}

header .logo{   
    /* width: 216px;
    height: 125px;     */
    width: 11vw;
    height: 7vw;
    background-color: #93ada4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.14vw solid #3a3a3a;
    border-bottom: 0.14vw solid #3a3a3a;
    border-left: 0.14vw solid #3a3a3a;
    margin: 0 3vw;
    padding: 1vw 0 0 0;
}

header .logo img{
    width: 9vw;
    height: 5vw;
    vertical-align: bottom;
}

header .logo a:hover{
    border-bottom: none;
}



header .cart a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 2vw;
    top: 0.6vw;
    display: flex;
}

header .cart a:hover{
    border-bottom: none;
}

header .cart a:hover .count{
    background-color: #FE793E;
}

header .cart a .count{
    /* width: 24px;
    height: 24px; */
    width: 1.2vw;
    height: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
    /* font-size: 14px; */
    font-family: 'Syncopate', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #3a3a3a;
    border-radius: 100%;
    position: absolute;
    right: 0.8vw;
    top: -0.2vw;
}

header .cart img{
    /* width: 36px;
    height: 36px; */
    width: 4vw;
    height:2vw;
    position: relative;
    vertical-align: bottom;
}