:root{
    /* --h2-font-size:clamp(1rem, 2.5vw, 2.5rem);
    --h3-font-size:clamp(0.95rem, 1.5vw, 2.5rem);
    --p-font-size:clamp(0.6rem, 1.2vw, 1.2rem);
    --span-font-size:clamp(0.4rem, 1vw, 1rem);
    --stamp-font-size:clamp(0.2rem, 0.8vw, 0.8rem); */

    --h2-font-size:2.5vw;
    --h3-font-size:1.5vw;
    --p-font-size:1.2vw;
    --span-font-size:1vw;
    --stamp-font-size:0.8vw;
}

body{
    background-color: #ececec;
    font-family: 'Syncopate', 'Noto Sans TC', sans-serif;
    /* font-family: 'Noto Sans TC', sans-serif; */
}

.wrap{
    max-width:1920px;
    margin: auto;
}




header{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    position: fixed;
    z-index: 999;
    width: 100vw;
    box-sizing: border-box;
}

header nav{
    background-color: #fff;
    border-top: 0.14vw solid #3a3a3a;
    border-bottom: 0.14vw solid #3a3a3a;
    width: 100vw;
    height: 3vw;
    /* height: 60px; */
    position: absolute;
    top: 1vw;
    /* top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    display: flex;
    align-items: center;
    /* margin-left: 2vw; */
}


header ul li a{
    text-decoration: none;
    font-size: var(--p-font-size);
    /* font-size: 20px; */
    color: #3a3a3a;
    margin: 0 3vw;
    /* margin: 0 120px; */
    position: relative;

}

/* header ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    width: 0%;
    height: 0.14vw;
    background-color: #292421;
}

header ul li a:hover{
    color: #FE793E;
}

header ul li a:hover::after{
    width: 100%;
    transition: .5s;
} */

.headerbtn {
    /* width: 15vw; */
    height: 1.4vw;
    line-height: 1.4vw;

    /* transform: translate(-50%, 0); */
    color: #3a3a3a;
    font-size: var(--p-font-size);
    z-index: 999;
    overflow: hidden;
    display: block;
}

.headertxt {
    width: 62%;
    float: left;
}

.headeron {
    transition: all 0.5s ease-in-out;
}

.headerout {
    color: #FE793E;
}

.headerbtn:hover .headeron {
    margin-top: -1.4vw;
}

header .logo{   
    /* width: 216px;
    height: 125px;     */
    width: 11vw;
    height: 7vw;
    background-color: #93ada4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.14vw solid #3a3a3a;
    border-bottom: 0.14vw solid #3a3a3a;
    border-left: 0.14vw solid #3a3a3a;
    margin: 0 3vw;
    padding: 1vw 0 0 0;
}

header .logo img{
    width: 9vw;
    height: 5vw;
    vertical-align: bottom;
}

header .logo a:hover::after{
    display: none;
}



header .cart a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 2vw;
    top: 0.6vw;
    display: flex;
}

header .cart a:hover::after{
    display: none;
}

header .cart a:hover .count{
    background-color: #FE793E;
}

header .cart a .count{
    /* width: 24px;
    height: 24px; */
    width: 1.2vw;
    height: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
    /* font-size: 14px; */
    color: rgb(255, 255, 255);
    background-color: #3a3a3a;
    border-radius: 100%;
    position: absolute;
    right: 0.8vw;
    top: -0.2vw;
}

header .cart img{
    /* width: 36px;
    height: 36px; */
    width: 4vw;
    height:2vw;
    position: relative;
    vertical-align: bottom;
}