.indexmain .banner img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}



.indexmain .run{
    background-color: #FE793E;
    /* width: 100%; */
    height: 4.5vw;
    border-top: 0.14vw solid #3a3a3a;
    border-bottom: 0.14vw solid #3a3a3a;
    /* display: flex; */
    /* white-space:nowrap;
    justify-content: center; */
    align-items: center;
    
    width: 100%;
    overflow: hidden;
    display: flex;
}

.indexmain .run .word1{
    color: #fff;
    font-size: var(--span-font-size);
    letter-spacing: 0.08vw;

    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

.indexmain .run .word2{
    color: #fff;
    font-size: var(--span-font-size);
    letter-spacing: 0.08vw;

    display: inline-block;
    white-space: nowrap;
    animation: marquee2 20s linear infinite;
}

.indexmain .run .word3{
    color: #fff;
    font-size: var(--span-font-size);
    letter-spacing: 0.08vw;

    display: inline-block;
    white-space: nowrap;
    animation: marquee3 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
    
@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes marquee3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* ============================================= */

.indexmain .product_type .deco .sticker-bc1 img{
    position: absolute;
    rotate: -14.58deg;
    /* left: -30px; 
    top: 249px; */
    left: -1.5vw; 
    top: 13vw;
    width: 8vw;
    vertical-align: bottom;
}

.indexmain .product_type .deco .sticker-bc2 img{
    position: absolute;
    rotate: 4.72deg;
    /* left: 27px; 
    top: 280px; */
    left: 1.5vw; 
    top: 14.8vw;
    width: 8vw;
    vertical-align: left;
    box-shadow: -0.2vw 0.2vw 0 0 #3a3a3a;
}

.indexmain .product_type .deco .sticker-sun img{
    position: absolute;
    rotate: 8.91deg;
    /* right: 73px;  */
    /* top: 565px; */
    right: 3.5vw; 
    top: 29.5vw;
    width: 8vw;
    vertical-align: bottom;
}

/* ============================================= */


.indexmain .product_new{
    width: 100%;
    height: 50vw;
    background-image: url(../image/productnew_gamedisk.jpg) ;
    background-repeat: no-repeat;
    background-size: 100vw 50vw;
    vertical-align: bottom;
    position: relative;
} 

.indexmain .product_new .arrow_left img{
    rotate: -90deg;
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    position: absolute;
    left: 5vw;
    top: 50%;
    width: 1.2vw;
}

.indexmain .product_new .arrow_right img{
    rotate: 90deg;
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    position: absolute;
    right: 5vw;
    top: 50%;
    width: 1.2vw;
}

.indexmain .product_new:hover .arrow_left img{
    animation: arrowleft .5s;
}

.indexmain .product_new:hover .arrow_right img{
    animation: arrowright .5s;
}

@keyframes arrowleft{
    0%{
        left: 6vw;
    }
    100%{
        left: 5vw;
    }
}

@keyframes arrowright{
    0%{
        right: 6vw;
    }
    100%{
        right: 5vw;
    }
}

.indexmain .product_new .deco .sticker-flower img{
    position: absolute;
    left: 24vw; 
    top: -5vw;
    width: 11vw;
    vertical-align: bottom;
}

.indexmain .product_new .deco .sticker-bomb1 img{
    position: absolute;
    right: 2vw; 
    bottom: 3.5vw;
    width: 8vw;
    vertical-align: bottom;
}

/* .indexmain .product_new .deco .sticker-bomb2 img{
    position: absolute;
    right: 8vw; 
    bottom: -3vw;
    width: 7vw;
    vertical-align: bottom;
} */

.indexmain .product_new h2{
    color: #fff;
    font-size: var(--h2-font-size);
    text-align: center;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    position: absolute;
    top: 6vw;
    left: 0;
    right: 0;
}

.indexmain .product_new .bottom{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 6vw;
    left: 0;
    right: 0;
}

.indexmain .product_new h3{
    color: #fff;
    font-size: var(--h3-font-size);
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    margin-bottom: 1.7vw;
}

.indexmain .product_new span{
    color: #fff;
    font-weight: bold;
    font-size: var(--h3-font-size);
    letter-spacing: 0.08vw;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
}


.indexmain .product_new .btn{
    color: #3a3a3a;
    font-size: var(--span-font-size);
    text-decoration: none;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.4);
    padding: 0.7vw 1.8vw;
    background-color: #ececec;
    border: 0.14vw solid #3a3a3a;
    border-radius: 60vw;
    display: block;
}

.indexmain .product_new .btn:hover{
    color: #FE793E;
    border: 0.14vw solid #FE793E;
}


.indexmain .product .deco .sticker-bomb2 img{
    position: absolute;
    right: 8vw; 
    top: -3vw;
    width: 7vw;
    vertical-align: bottom;
}

/* ============================================= */


.indexmain .newscontact{
    display: flex;
    justify-content: center;
    border-top: 0.14vw solid #3a3a3a;
    position: relative;
}


.indexmain .newscontact .deco .sticker-sale img{
    position: absolute;
    left: -2vw; 
    top: -5vw;
    width: 8vw;
    vertical-align: bottom;
}

/* ============================================= */


.indexmain .newscontact .news{
    padding: 5vw 4vw;
    border-right: 0.14vw solid #3a3a3a;
}

.indexmain .newscontact .news h2{
    color: #3a3a3a;
    font-size: var(--h2-font-size);
    padding-bottom: 1.7vw;

}

.indexmain .newscontact .news .primg img{
    width: 32vw;
    vertical-align: bottom;
    padding-bottom: 1.8vw;
}

.indexmain .newscontact .news .itemgroup{
    border-bottom: 0.14vw solid #3a3a3a;
    /* height: 18vw; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

.indexmain .newscontact .news .itemgroup .item{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.14vw solid #3a3a3a;
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
}


.indexmain .newscontact .news .itemgroup a .datetype .date{
    color: #3a3a3a;
    font-size: var(--span-font-size);
    padding-right: 2vw;
}

.indexmain .newscontact .news .itemgroup a .datetype .type{
    color: #FE793E;
    font-size: var(--span-font-size);
}

.indexmain .newscontact .news .itemgroup a .title{
    padding-top: 0.5vw;
}

.indexmain .newscontact .news .itemgroup a .title span{
    color: #3a3a3a;
    font-size: var(--p-font-size);
    font-family: 'Noto Sans TC', sans-serif;
}

.indexmain .newscontact .news .itemgroup a .arrow2 img{
    rotate: 90deg;
    width: 1.2vw;
    vertical-align: bottom;
    margin-right: 1vw;
    opacity: 0;
}

.indexmain .newscontact .news .itemgroup .item:hover .arrow2 img{
    margin-right: 0;
    transition: .5s ease-in-out;
    opacity: 100;
    
}

/* ============================================= */


.indexmain .newscontact .contact{
    padding: 5vw 4vw;
}

.indexmain .newscontact .contact h2{
    color: #3a3a3a;
    font-size: var(--h2-font-size);
    padding-bottom: 1.7vw;
}

.indexmain .newscontact .contact iframe{
    width: 32vw;
    height: 16.7vw;
    padding-bottom: 1.7vw;
}

.indexmain .newscontact .contact .itemgroup{
    border-bottom: 0.14vw solid #3a3a3a;
    /* height: 18vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.indexmain .newscontact .contact .itemgroup .item{
    text-decoration: none;
    border-top: 0.14vw solid #3a3a3a;
    padding: 2.35vw 1.5vw 2.35vw 1.5vw;
}

.indexmain .newscontact .contact .itemgroup .item span{
    color: #3a3a3a;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
}

.indexmain .newscontact .contact .itemgroup .item span:first-child::after{
    content: "|";
    color: #3a3a3a;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
    padding-left: 0.4vw;
}