.banner{
    /* width: 100%; */
    height: 100vh;
    background-size: cover;
    background-image: url(../image/banner_index.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.run{
    background-color: var(--orange-color);
    height: 67.5px;
    border-top: var(--borderpc-border);
    border-bottom: var(--borderpc-border);
    align-items: center;
    
    width: 100%;
    overflow: hidden;
    display: flex;
}

@media screen and (max-width:1024px){
    .run{
        height: 47.5px;
        border-top: var(--borderpad-border);
        border-bottom: var(--borderpad-border);
    }
}

.run .word1{
    color: var(--white-color);
    font-size: var(--span-font-size);
    letter-spacing: 0.08vw;

    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

@media screen and (max-width:768px){
    .run .word1{
        font-size: var(--spanph-font-size);
    }
}

.run .word2{
    color: var(--white-color);
    font-size: var(--span-font-size);
    letter-spacing: 0.08vw;

    display: inline-block;
    white-space: nowrap;
    animation: marquee2 20s linear infinite;
}

@media screen and (max-width:768px){
    .run .word2{
        font-size: var(--spanph-font-size);
    }
}

.run .word3{
    color: var(--white-color);
    font-size: var(--span-font-size);
    letter-spacing: 0.08vw;

    display: inline-block;
    white-space: nowrap;
    animation: marquee3 20s linear infinite;
}

@media screen and (max-width:768px){
    .run .word3{
        font-size: var(--spanph-font-size);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
    
@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes marquee3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* ============================================= */



.product_type .sticker-bc1 img{
    position: absolute;
    rotate: -14.58deg;
    /* left: -30px; 
    top: 249px; */
    left: -1.5vw; 
    top: 13vw;
    width: 8vw;
    vertical-align: bottom;
}

.product_type .sticker-bc2 img{
    position: absolute;
    rotate: 4.72deg;
    /* left: 27px; 
    top: 280px; */
    left: 1.5vw; 
    top: 14.8vw;
    width: 8vw;
    vertical-align: left;
    box-shadow: -0.2vw 0.2vw 0 0 var(--dkgray-color);
}

.product_type .sticker-sun img{
    position: absolute;
    rotate: 8.91deg;
    /* right: 73px;  */
    /* top: 565px; */
    right: 0vw; 
    top: 29.5vw;
    width: 8vw;
    vertical-align: bottom;
}

@media screen and (max-width:1024px){
    .product_type .sticker-bc1 img{
        left: -1.5vw; 
        top: 6vw;
    }
    
    .product_type .sticker-bc2 img{
        left: 1.5vw; 
        top: 7.8vw;
    }
    
    .product_type .sticker-sun img{
        right: 3.5vw; 
        top: 40vw;
    }
}

@media screen and (max-width:768px){
    .product_type .sticker-bc1 img{
        left: -1.5vw; 
        top: 6vw;
        width: 15vw;
    }
    
    .product_type .sticker-bc2 img{
        left: 1.5vw; 
        top: 7.8vw;
        width: 15vw;
    }
    
    .product_type .sticker-sun img{
        right: 3.5vw; 
        top: 125vw;
        width: 15vw;
    }
}

/* ============================================= */


.product_new{
    height: 100vh;
    background-size: cover;
    background-image: url(../image/productnew_gamedisk.jpg) ;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
} 

.product_new .arrow_left img{
    rotate: -90deg;
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    position: absolute;
    left: 5vw;
    top: 50%;
    width: 1.2vw;
}

.product_new .arrow_right img{
    rotate: 90deg;
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    position: absolute;
    right: 5vw;
    top: 50%;
    width: 1.2vw;
}

@media screen and (max-width:1024px){
    .product_new .arrow_left img{
        width: 1.8vw;
    }
    
    .product_new .arrow_right img{
        width: 1.8vw;
    }
}

@media screen and (max-width:768px){
    .product_new .arrow_left img{
        width: 4.5vw;
    }
    
    .product_new .arrow_right img{
        width: 4.5vw;
    }
}

.product_new:hover .arrow_left img{
    animation: arrowleft .5s;
}

.product_new:hover .arrow_right img{
    animation: arrowright .5s;
}

@keyframes arrowleft{
    0%{
        left: 6vw;
    }
    100%{
        left: 5vw;
    }
}

@keyframes arrowright{
    0%{
        right: 6vw;
    }
    100%{
        right: 5vw;
    }
}

.product_new .sticker-flower img{
    position: absolute;
    left: 24vw; 
    top: -5vw;
    width: 11vw;
    vertical-align: bottom;
}

.product_new .sticker-bomb1 img{
    position: absolute;
    right: 2vw; 
    bottom: 3.5vw;
    width: 8vw;
    vertical-align: bottom;
}

@media screen and (max-width:768px){
    .product_new .sticker-flower img{
        left: 8vw; 
        top: -10vw;
        width: 19vw;
    }
    
    .product_new .sticker-bomb1 img{
        right: 2vw; 
        bottom: 3.5vw;
        width: 16vw;
    }
}

.product_new h2{
    color: var(--white-color);
    font-size: var(--h2-font-size);
    text-align: center;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    position: absolute;
    top: 6vw;
    left: 0;
    right: 0;
}

@media screen and (max-width:1024px){
    .product_new h2{
        top: 13vw;
    }
}

@media screen and (max-width:768px){
    .product_new h2{
        top: 20vw;
        font-size: var(--h2ph-font-size);
    }
}

.product_new .bottom{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 6vw;
    left: 0;
    right: 0;
}

@media screen and (max-width:1024px){
    .product_new .bottom{
        bottom: 13vw;
    }
}

@media screen and (max-width:768px){
    .product_new .bottom{
        bottom: 20vw;
    }
}

.product_new h3{
    color: var(--white-color);
    font-size: var(--h3-font-size);
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    margin-bottom: 1.7vw;
}

@media screen and (max-width:768px){
    .product_new h3{
        font-size: var(--h3ph-font-size);
        margin-bottom: 4vw;
    }
}

.product_new span{
    color: var(--white-color);
    font-weight: bold;
    font-size: var(--h3-font-size);
    letter-spacing: 0.08vw;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
}

@media screen and (max-width:768px){
    .product_new span{
        font-size: var(--h3ph-font-size);
    }
}


.product_new .btn{
    color: var(--dkgray-color);
    font-size: var(--span-font-size);
    text-decoration: none;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.4);
    padding: 0.7vw 1.8vw;
    background-color: #ececec;
    border: var(--borderpc-border);
    border-radius: 60vw;
    display: block;
}

@media screen and (max-width:1024px){
    .product_new .btn{
        padding: 12.5px 26px;
        border: var(--borderpad-border);
    }
}

@media screen and (max-width:768px){
    .product_new .btn{
        font-size: var(--spanph-font-size);
    }
}

.product_new .btn:hover{
    color: var(--orange-color);
    border-color: var(--orange-color);
}

/* ============================================= */

.product .sticker-bomb2 img{
    position: absolute;
    right: 8vw; 
    top: -3vw;
    width: 7vw;
    vertical-align: bottom;
}

@media screen and (max-width:768px){
    .product .sticker-bomb2 img{
        right: 15vw; 
        top: -6vw;
        width: 15vw;
    }
}

.product {
    border-bottom: var(--borderpc-border);
}

@media screen and (max-width:1024px){
    .product{
        border-bottom: var(--borderpad-border);
    }
}

/* ============================================= */


.newscontact{
    display: flex;
    /* justify-content: center; */
    
    position: relative;
    justify-content: space-between;
    width: 74%;
    margin: auto;
}

@media screen and (max-width:1024px){
    .newscontact{
        width: 90%;
    }
}



.newscontact .sticker-sale img{
    position: absolute;
    left: -7vw; 
    top: -5vw;
    width: 8vw;
    vertical-align: bottom;
}

/* ============================================= */


.newscontact h2{
    color: var(--dkgray-color);
    font-size: var(--h2-font-size);
    padding-bottom: 1.7vw;
}

@media screen and (max-width:768px){
    .newscontact h2{
        font-size: var(--h2ph-font-size);
    }
}

.news{
    width: 50%;
    padding: 5vw 4vw 5vw 0;
    border-right: var(--borderpc-border);
}

.news .primg img{
    width: 100%;
    vertical-align: bottom;
    padding-bottom: 1.8vw;
}

.news .itemgroup{
    border-bottom: var(--borderpc-border);
    /* height: 18vw; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

.news .item{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: var(--borderpc-border);
    height: 100px;
    padding: 0 1.5vw;
    /* padding: 1.5vw 1.5vw 1.5vw 1.5vw; */
}

@media screen and (max-width:1024px){
    .news{
        border-right: var(--borderpad-border);
    }

    .news .itemgroup{
        border-bottom: var(--borderpad-border);
    }
    
    .news .item{
        border-top: var(--borderpad-border);
        height: 80px;
    }
}

.news .date{
    color: var(--dkgray-color);
    font-size: var(--span-font-size);
    padding-right: 2vw;
}

@media screen and (max-width:768px){
    .news .date{
        font-size: var(--spanph-font-size);
    }
}

.news .type{
    color: var(--orange-color);
    font-size: var(--span-font-size);
}

@media screen and (max-width:768px){
    .news .type{
        font-size: var(--spanph-font-size);
    }
}

.news .title{
    padding-top: 0.5vw;
}

.news .title span{
    color: var(--dkgray-color);
    font-size: var(--p-font-size);
    font-family: 'Noto Sans TC', sans-serif;
}

@media screen and (max-width:768px){
    .news .title span{
        font-size: var(--pph-font-size);
    }
}

.news .arrow2 img{
    rotate: 90deg;
    width: 1.2vw;
    vertical-align: bottom;
    margin-right: 1vw;
    opacity: 0;
}

.news .itemgroup .item:hover .arrow2 img{
    margin-right: 0;
    transition: .5s ease-in-out;
    opacity: 100;
    
}

/* ============================================= */


.contact{
    padding: 5vw 0 5vw 4vw;
    width: 50%;
}

.contact iframe{
    width: 100%;
    height: 16.8vw;
    padding-bottom: 1.8vw;
}

@media screen and (max-width:1024px){
    .contact iframe{
        height: 20.8vw;
    }
}

.contact .itemgroup{
    border-bottom: var(--borderpc-border);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact .item{
    text-decoration: none;
    border-top: var(--borderpc-border);
    align-items: center;
    height: 100px;
    padding: 0 1.5vw;
    /* padding: 2.35vw 1.5vw 2.35vw 1.5vw; */
    display: flex;
}

@media screen and (max-width:1024px){
    .contact .itemgroup{
        border-bottom: var(--borderpad-border);
    }

    .contact .item{
        height: 80px;
        border-top: var(--borderpad-border);
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        line-height: 22px;
    }
}


.contact span{
    color: var(--dkgray-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
}

@media screen and (max-width:768px){
    .contact span{
        font-size: var(--pph-font-size);
    }
}

.contact span:first-child::after{
    content: "|";
    color: var(--dkgray-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
    padding: 0 0.4vw;
}

@media screen and (max-width:768px){
    .contact span:first-child::after{
        font-size: var(--pph-font-size);
    }
}