header nav ul li:nth-child(2) a{
    color: var(--orange-color);
}

.banner{
    width: 100%;
    /* height: 25vw; */
    vertical-align: bottom;
    position: relative;
}

.banner h2{
    color: #fff;
    font-size: var(--h2-font-size);
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    
    position: absolute;
    top: 13.5vw;
    /* bottom: 0; */
    left: 13.2vw;
    animation: bannertitle 1s;
}

@media screen and (max-width:768px){
    .banner h2{
        font-size: var(--h2ph-font-size);
    }
}

@keyframes bannertitle{
    0%{
        left: 11.2vw;
    }

    100%{
        left: 13.2vw;
    }
}

.banner img{
    width: 100%;
    vertical-align: bottom;
}

/* ============================================= */

.info{
    position: relative;
    margin: auto;
}

.sticker-sun img{
    position: absolute;
    left: 1vw; 
    top: 28vw;
    width: 8vw;
    rotate: 19deg;
    vertical-align: bottom;
}

.sticker-hot img{
    position: absolute;
    right: 3vw; 
    bottom: 40vw;
    width: 6.5vw;
    rotate: -21deg;
    vertical-align: bottom;
}

.sticker-good img{
    position: absolute;
    right: 1vw; 
    bottom: 33vw;
    width: 5.5vw;
    rotate: 15deg;
    vertical-align: bottom;
}


/* ============================================= */

.newscontent{
    margin: 5.7vw auto 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: var(--borderpc-border);
    width: 74%;
}

@media screen and (max-width:1024px){
    .newscontent{
        border-top: var(--borderpad-border);
        width: 90%;
    }
}




.newsmenu{
    position: sticky;
    top: 3.8vw;
    height: 100%;
    margin-right: 3.4vw;
    padding-top: 3.4vw;
}

@media screen and (max-width:1024px){
    .newsmenu{
        margin-right: 2vw;
    }
}

.newsmenu .newstype{
    display: flex;
    justify-content: space-between;
    
}

.newsmenu a{
    text-decoration: none;
    color: var(--dkgray-color);
    font-size: var(--span-font-size);
    margin-bottom: 3vw;
}

@media screen and (max-width:1024px){
    .newsmenu a{
        margin-bottom: 5vw;
    }
}

@media screen and (max-width:768px){
    .newsmenu a{
        font-size: var(--spanph-font-size);
    }
}

.newsmenu a:hover{
    color: var(--orange-color);
}


.newsmenu .newstype span:first-child{
    padding-right: 4vw;
}


/* ============================================= */


.newsproduct{
    /* padding-top: 3.4vw; */
    padding-bottom: 9.5vw;
    padding-left: 3.4vw;
    border-left: var(--borderpc-border);
}

@media screen and (max-width:1024px){
    .newsproduct{
        padding-left: 2vw;
        border-left: var(--borderpad-border);
    }
}


.newsproduct .itemgroup .item{
    /* margin: 0 0.5vw 0.5vw 0.5vw; */
    /* position: relative;*/
    padding: 1.5vw 1.5vw;
    text-decoration: none;
    border-bottom: var(--borderpc-border);

    display: flex; 
    align-items: center;
    justify-content: space-between;

    /* display: grid;
    gap: 1vw; */
    /* grid-template-columns: 20vw 29vw; */
    /* grid-template-columns: 45% 53%;
    grid-template-rows: 3.5vw 8vw;
    align-items:start; */
}

@media screen and (max-width:1024px){
    .newsproduct .itemgroup .item{
        /* flex-direction: column; */
        padding: 2vw 1.5vw;
        border-bottom: var(--borderpad-border);
        /* grid-template-columns: 46% 52%;
        grid-template-rows: 3.5vw 10vw; */
    }
}


.newsproduct .text{
    width: 43%;
}

.newsproduct .datetype{
    /* align-self:end;
    justify-self:start; */
    padding-bottom: 1vw;
}

.newsproduct .date{
    color: var(--dkgray-color);
    font-size: var(--span-font-size);
    padding-right: 2vw;
}

@media screen and (max-width:768px){
    .newsproduct .date{
        font-size: var(--spanph-font-size);
    }
}

.newsproduct .type{
    color: var(--orange-color);
    font-size: var(--span-font-size);
}

@media screen and (max-width:768px){
    .newsproduct .type{
        font-size: var(--spanph-font-size);
    }
}


.newsproduct .title{
    color: var(--dkgray-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
    
    padding-bottom: 0.5vw;
    /* padding: 0.5vw 1.5vw 1.5vw 1.5vw; */
}

@media screen and (max-width:768px){
    .newsproduct .title{
        font-size: var(--pph-font-size);
    }
}

.newsproduct .detail{
    color: var(--dkgray-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--span-font-size);
    line-height: 22px;
    text-align: justify;
    padding-top: 0.5vw;
}

@media screen and (max-width:1024px){
    .newsproduct .detail{
        line-height: 15px;
    }
}

@media screen and (max-width:768px){
    .newsproduct .detail{
        font-size: var(--spanph-font-size);
    }
}



.newsproduct .primg{
    /* grid-column: 2/3;
    grid-row: 1/3; */
    position: relative;
    /* overflow:hidden; */
}

@media screen and (max-width:768px){
    /* .newsproduct .primg{
        order: -1;
    } */
}

.newsproduct .primg .newsimg img{
    display: block;
    width: 24.1vw;
    vertical-align: bottom;
    transition: .5s ease-in-out;
    /* transform:scale(1,1); */
}

@media screen and (max-width:1024px){
    .newsproduct .primg .newsimg img{
        width: 35vw;
    }
}

.newsproduct .primg .arrow2 img{
    rotate: 90deg;
    width: 1.2vw;
    position: absolute;
    top: 45%;
    right: 1vw;
    vertical-align: bottom;
    opacity: 0;

}

@media screen and (max-width:1024px){
    .newsproduct .primg .arrow2 img{
        width: 1.8vw;
    }
}


.newsproduct .itemgroup .item:hover  .primg .newsimg img{
    padding-right: 2.5vw;

    /* transform:scale(1.1,1.1); */
}

.newsproduct .itemgroup .item:hover  .primg .arrow2 img{
    right: 0;
    transition: .5s ease-in-out;
    opacity: 100;
    
}




/* ============================================= */



.newsproduct .page{
    text-align: center;
    margin-top: 3.4vw;
}

.newsproduct .page a{
    color: var(--dkgray-color);
    font-size: var(--p-font-size);
    text-decoration: none;
    margin: 1vw;
}

@media screen and (max-width:768px){
    .newsproduct .page a{
        font-size: var(--pph-font-size);
    }
}

.newsproduct .page a:hover{
    color: var(--orange-color);
    border-color: var(--orange-color);
}