header nav ul li:nth-child(2) a{
    color: var(--orange-color);
}

@media screen and (max-width:768px){
    .newspagemain{
        padding-top: 17vw;
    }
}

.banner{
    width: 90%;
    margin: auto;
    padding-top: 8.5vw;
    padding-bottom: 3vw;
    border-bottom: var(--borderpc-border);
}

@media screen and (max-width:1024px){
    .banner{
        padding-top: 11.5vw;
        padding-bottom: 4vw;
        border-bottom: var(--borderpad-border);
    }
}

@media screen and (max-width:768px){
    .banner{
        padding-bottom: 6vw;
    }
}

.banner .primg{
    text-align: center;
}

.banner .primg img{
    width: 82%;
    vertical-align: bottom;
}

@media screen and (max-width:1024px){
    .banner .primg img{
        width: 100%;
    }
}

/*============================================= */

.newspagecontent{
    position: relative;
    margin: auto;
    padding: 6vw 0 9.5vw 0;
}

@media screen and (max-width:1024px){
    .newspagecontent{
        padding: 8vw 0 13vw 0;
    }
}

@media screen and (max-width:768px){
    .newspagecontent{
        padding: 10vw 0 25vw 0;
    }
}


.sticker-saleb img{
    position: absolute;
    right: 8vw; 
    top: 13vw;
    width: 8vw;
    transform: rotate(14deg);
    vertical-align: bottom;
}

.sticker-earth img{
    position: absolute;
    right: 4.5vw; 
    top: 17vw;
    width: 7vw;
    transform: rotate(-14deg);
    vertical-align: bottom;
}

@media screen and (max-width:768px){
    .sticker-saleb img{
        right: 8vw; 
        top: 73vw;
        width: 12vw;
    }
    
    .sticker-earth img{
        right: 4.5vw; 
        top: 80vw;
        width: 11vw;
    }
}


/* ============================================= */


.text{
    padding-bottom:  4vw;
    margin: auto;
    position: relative;
    width: 74%;
}

@media screen and (max-width:1024px){
    .text{
        width: 90%;
        padding-bottom:  5vw;
    }
}


h3{
    color: var(--dkgray-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: var(--h3-font-size);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

@media screen and (max-width:768px){
    h3{
        font-size: var(--h3ph-font-size);
        top: 12vw;
    }
}



.datetype{
    position: absolute;
    top: 0;
    right: 0;
}

.date{
    color: var(--dkgray-color);
    font-size: var(--span-font-size);
    padding-right: 2vw;
}

@media screen and (max-width:768px){
    .date{
        font-size: var(--spanph-font-size);
    }
}

.type{
    color: var(--orange-color);
    font-size: var(--span-font-size);
}

@media screen and (max-width:768px){
    .type{
        font-size: var(--spanph-font-size);
    }
}

p{
    color: var(--dkgray-color);
    font-size: var(--p-font-size);
    text-align: center;
    line-height: 3vw;
    padding-bottom: 5.7vw;
}

@media screen and (max-width:1024px){
    p{
        line-height: 4vw;
        padding-bottom: 10vw;
    }
}

@media screen and (max-width:768px){
    p{
        font-size: var(--pph-font-size);
        padding-top: 17vw;
        line-height: 8vw;
        padding-bottom: 18vw;
    }
}

/* ============================================= */
/* itemView */
.newsimgcenter{
    position:relative;
    width: 37vw;
    height: 37vw;
    margin: auto;
    overflow: hidden;
    /* display: flex; */
    outline: 1vw solid var(--lggray-color);
    z-index: 1;
}

@media screen and (max-width:1024px){
    .newsimgcenter{
        width: 57vw;
        height: 57vw;
        outline: 2vw solid var(--lggray-color);
    }
}

@media screen and (max-width:768px){
    .newsimgcenter{
        width: 67vw;
        height: 67vw;
    }
}

/* wrap */
.newsimgcenter .nitemgroupcenter{
    position:absolute;
    width:300%;
    transition:left 1s;
    left: 0%;
}


/* item */
.newsimgcenter .item{
    width:33.33%;
    text-align: center;
    float:left;
}

.newsimgcenter .item img{
    width: 100%;
    /* display: block; */
    vertical-align: bottom;
}

/* ======================================= */

/* itemView */
.newsimgleft{
    /* position:relative; */
    width: 30vw;
    height: 30vw;
    margin: auto;
    overflow:hidden;
    position: absolute;
    left: -5vw;
}

@media screen and (max-width:1024px){
    .newsimgleft{
        width: 40vw;
        height: 40vw;
    }
}

@media screen and (max-width:768px){
    .newsimgleft{
        width: 50vw;
        height: 50vw;
    }
}

/* wrap */
.newsimgleft .nitemgroupleft{
    position:absolute;
    width:300%;
    transition:left 1s;
    left: 0%;
}

/* item */
.newsimgleft .item{
    width:33%;
    text-align: center;
    float:left;
}

.newsimgleft .item img{
    width: 100%;
    /* display: block; */
    vertical-align: bottom;
}

/* ======================================= */

/* itemView */
.newsimgright{
    /* position:relative; */
    width: 30vw;
    height: 30vw;
    margin: auto;
    overflow:hidden;
    /* display: flex; */
    position: absolute;
    right: -5vw; 
}

@media screen and (max-width:1024px){
    .newsimgright{
        width: 40vw;
        height: 40vw;
    }
}

@media screen and (max-width:768px){
    .newsimgright{
        width: 50vw;
        height: 50vw;
    }
}


/* wrap */
.newsimgright .nitemgroupright{
    position:absolute;
    width:300%;
    transition:left 1s;
    left: 0%;
}

/* item */
.newsimgright .item{
    width: 33%;
    text-align: center;
    float:left;
}

.newsimgright .item img{
    width: 100%;
    /* display: block; */
    vertical-align: bottom;
}

.newsimg{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 74%;
    /* width: 100%; */
    margin: auto;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width:1024px){
    .newsimg{
        width: 90%;
    }
}

@media screen and (max-width:768px){
    .newsimg{
        width: 100%;
    }
}



.newsimg .arrow_left{
    position: absolute;
    left:28%;
    z-index: 2;
}

.newsimg .arrow_left img{
    transform: rotate(-90deg);
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    /* position: absolute;
    left: 1.7vw;
    top: 50%; */
    width: 1.2vw;
}

.newsimg .arrow_right{
    position: absolute;
    right:28%;
    z-index: 2;
}

.newsimg .arrow_right img{
    transform: rotate(90deg);
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    /* position: absolute;
    right: 1.7vw;
    top: 50%; */
    width: 1.2vw;
}

@media screen and (max-width:1024px){
    .newsimg .arrow_left{
        left:22%;
    }

    .newsimg .arrow_left img{
        width: 1.8vw;
    }
    
    .newsimg .arrow_right{
        right:22%;
    }

    .newsimg .arrow_right img{
        width: 1.8vw;
    }
}

@media screen and (max-width:768px){
    .newsimg .arrow_left{
        left:20%;
    }

    .newsimg .arrow_left img{
        width: 4.5vw;
    }
    
    .newsimg .arrow_right{
        right:20%;
    }

    .newsimg .arrow_right img{
        width: 4.5vw;
    }
}

.newsimg:hover .arrow_left img{
    animation: arrowleft .5s;
}

.newsimg:hover .arrow_right img{
    animation: arrowright .5s;
}

@keyframes arrowleft{
    0%{
        left: 2.7vw;
    }
    100%{
        left: 1.7vw;
    }
}

@keyframes arrowright{
    0%{
        right: 2.7vw;
    }
    100%{
        right: 1.7vw;
    }
}