.product{
    background-color: #fff;
    padding: 9.5vw 0;
    position: relative;
}

.product .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13.2vw;
    position: relative;
    
}

.product .title::after{
    content: "";
    width: 72.5vw;
    border-bottom: 0.14vw solid #3a3a3a;
    position: absolute;
    bottom: -1.7vw;
}

.product .title h2{
    color: #3a3a3a;
    font-size: var(--h2-font-size);
}

.product .title .btn{
    color: #3a3a3a;
    font-size: var(--span-font-size);
    text-decoration: none;
    padding: 0.7vw 1.8vw;
    background-color: #ececec;
    border: 0.14vw solid #3a3a3a;
    border-radius: 60vw;
    display: block;
}

.product .title .btn:hover{
    color: #FE793E;
    border: 0.14vw solid #FE793E;
}







.product .itemgroup{
    display: flex;
    justify-content: center;
    
    margin-top: 3.4vw;
    /* width: 100%;
    margin: 0 13.2vw;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; */
}

.product .itemgroup .item{
    margin: 0 0.5vw;
    position: relative;

    /* display: inline-block; */
}





.product .itemgroup .item a .top{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    padding: 1vw 1vw 0 1vw;
}



.product .itemgroup .item a .top .name{
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
    letter-spacing: 0.08vw;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
}

.product .itemgroup .item a .top .arrow{
    position: absolute;
    /* display: none; */
    top: 1vw;
    right: 1vw;
}

.product .itemgroup .item a .top .arrow img{
    rotate: 45deg;
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    width: 1.2vw;
}

.product .itemgroup .item a .top .arrow2{
    position: absolute;
    top: 1vw;
    right: 1vw;
}

.product .itemgroup .item a .top .arrow2 img{
    rotate: 45deg;
    width: 1.2vw;
}

.product .itemgroup .item a .top .detail{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 2vw;
    padding: 1.5vw 1vw 0 0;
    color: #3a3a3a;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--span-font-size);
    line-height: 1.5vw;
    display: none;
    text-align: justify;
}

.product .itemgroup .item a .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.product .itemgroup .item a:hover .overlay{
    display: block;
}

.product .itemgroup .item a:hover .top .name{
    color: #3a3a3a;
    text-shadow: none;
    z-index: 2;
}

.product .itemgroup .item a:hover .top .arrow img{
    display: none;
}

.product .itemgroup .item a:hover .top .arrow2 img{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    rotate: 180deg;
    transition: 0.5s;
    z-index: 88;
}


.product .itemgroup .item a:hover .top .detail{
    display: block;
    transition: 1s;
    z-index: 2;
}







.product .itemgroup .item a .bottom{
    display: flex;
    position: absolute;
    vertical-align: bottom;
    align-items: end;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 0 1vw 1vw 1vw;
    bottom: 0;
}

.product .itemgroup .item a .bottom .price{
    color: #fff;
    font-size: var(--p-font-size);
    letter-spacing: 0.08vw;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
}

.product .itemgroup .item a .bottom .stamp1{
    color: #fff;
    font-size: var(--stamp-font-size);
    letter-spacing: 0.08vw;
    width: 4vw;
    height: 4vw;
    background-color: #FE793E;
    border-radius: 30vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product .itemgroup .item a .bottom .stamp2{
    color: #fff;
    font-size: var(--stamp-font-size);
    letter-spacing: 0.08vw;
    width: 4vw;
    height: 4vw;
    background-color: #909090;
    border-radius: 30vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* .product .itemgroup .item a .primg{
    overflow:hidden;
} */

.product .itemgroup .item a .primg img{
    width: 17.3vw;
    height: 17.3vw;
    /* transition: .5s;
    transform:scale(1); */
    vertical-align: bottom;
}

/* .product .itemgroup .item a:hover .primg:hover img{
    transform:scale(1.08);
} */