.product_type{
    position: relative;
    /* padding: 177px 0; */
    padding: 9.5vw 0;
    
}

@media screen and (max-width:1024px){
    .product_type{
        padding: 13vw 0;
    }
}

@media screen and (max-width:768px){
    .product_type{
        padding: 18vw 0;
    }
}

/* ============================================= */


.product_type .type{
    display: flex;
    justify-content: space-between;
    width: 74%;
    margin: auto;
}

@media screen and (max-width:1024px){
    .product_type .type{
        width: 90%;
    }
}

@media screen and (max-width:768px){
    .product_type .type{
        flex-wrap: wrap;
    }
}

.product_type a{
    text-decoration: none;
}

@media screen and (max-width:768px){
    .product_type a{
        width: 48%;
        padding: 2vw 0;
    }
}

.product_type h3{
    color: var(--dkgray-color);
    font-size: var(--h3-font-size);
    text-align: center;
    padding-bottom: 1vw;
}

@media screen and (max-width:768px){
    .product_type h3{
        font-size: var(--h3ph-font-size);
    }
}

.product_type .pic{
    overflow:hidden;
}

.product_type .pic img{
    width: 93%;
    height: 93%;
    transition: .5s;
    transform:scale(1);
    vertical-align: bottom;
}

.product_type .pic:hover img{
    transform:scale(1.08);
}

@media screen and (max-width:768px){
    .product_type .pic img{
        width:100%;
    }
}