header nav ul li:nth-child(4) a{
    color: #FE793E;
}

.shoppagemain{
    
}

.shoppagemain .banner{
    padding-top: 10.5vw;
    padding-bottom: 3vw;
    margin-left: 5.7vw;
    margin-right: 5.7vw;
    border-bottom: 0.14vw solid #3a3a3a;
    
    
    display: grid;
    gap: 1vw;
    grid-template-columns: 8.1vw 35.4vw 27vw;
    grid-template-rows: 8.1vw 8.1vw 8.1vw 8.1vw;
    align-content:center;justify-content:center;
}

.shoppagemain .banner .imgs1{
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

.shoppagemain .banner .imgs1 img{
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.shoppagemain .banner .imgs1 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 8.1vw;
    height: 8.1vw;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.shoppagemain .banner .imgs1:hover .overlay{
    display: block;
}



.shoppagemain .banner .imgs2{
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
}

.shoppagemain .banner .imgs2 img{
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.shoppagemain .banner .imgs2 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 8.1vw;
    height: 8.1vw;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.shoppagemain .banner .imgs2:hover .overlay{
    display: block;
}



.shoppagemain .banner .imgs3{
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
}

.shoppagemain .banner .imgs3 img{
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.shoppagemain .banner .imgs3 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 8.1vw;
    height: 8.1vw;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.shoppagemain .banner .imgs3:hover .overlay{
    display: block;
}


.shoppagemain .banner .imgs4{
    grid-column: 1/2;
    grid-row: 4/5;
    position: relative;
}

.shoppagemain .banner .imgs4 img{
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.shoppagemain .banner .imgs4 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 8.1vw;
    height: 8.1vw;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.shoppagemain .banner .imgs4:hover .overlay{
    display: block;
}



.shoppagemain .banner .imgmain{
    position: relative;
    
}

.shoppagemain .banner .imgmain .imgl{
    grid-column: 2/3;
    grid-row: 1/5;
}

.shoppagemain .banner .imgmain .imgl img{
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.shoppagemain .banner .imgmain .arrow_left img{
    rotate: -90deg;
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    position: absolute;
    left: 1.7vw;
    top: 17vw;
    width: 1.2vw;
}

.shoppagemain .banner .imgmain .arrow_right img{
    rotate: 90deg;
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    position: absolute;
    right: 1.7vw;
    top: 17vw;
    width: 1.2vw;
}

.shoppagemain .banner .imgmain:hover .arrow_left img{
    animation: arrowleft .5s;
}

.shoppagemain .banner .imgmain:hover .arrow_right img{
    animation: arrowright .5s;
}

@keyframes arrowleft{
    0%{
        left: 2.7vw;
    }
    100%{
        left: 1.7vw;
    }
}

@keyframes arrowright{
    0%{
        right: 2.7vw;
    }
    100%{
        right: 1.7vw;
    }
}

/*============================================= */

.shoppagemain .banner .info{
    grid-column: 3/4;
    grid-row: 1/5;
    align-self: center;
    padding-left: 1vw;
}

.shoppagemain .banner .info .title{
    padding-bottom: 1.7vw;
}

.shoppagemain .banner .info .title h3{
    color: #3a3a3a;
    font-weight: bold;
    font-size: var(--h3-font-size);
}

.shoppagemain .banner .info p{
    color: #3a3a3a;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
    line-height: 3vw;
    padding-bottom: 3vw;
}

.shoppagemain .banner .info .detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.7vw;
}


.shoppagemain .banner .info .detail .count{
    display: flex;
    flex-wrap: nowrap;
    padding: 0.3vw 1.7vw;
    background-color: #ececec;
    border: 0.14vw solid #3a3a3a;
    border-radius: 60vw;
    display: block;
}

.shoppagemain .banner .info .detail .count button{
    border: none;
    font-family: 'Syncopate', 'Noto Sans TC', sans-serif;
    font-size: var(--span-font-size);
    background: none;
}

.shoppagemain .banner .info .detail .count input{
    outline: none;
    border: none;
    font-family: 'Syncopate', 'Noto Sans TC', sans-serif;
    font-size: var(--span-font-size);
    width: 5.5vw;
    /* padding-right: 3.5vw; */
    text-align: center;
    background: none;
}


.shoppagemain .banner .info .detail .count button:hover{
    color: #FE793E;
}


.shoppagemain .banner .info .detail .price{
    color: #3a3a3a;
    font-weight: bold;
    font-size: var(--h3-font-size);
}

.shoppagemain .banner .info .btn{
    color: #3a3a3a;
    font-size: var(--span-font-size);
    text-decoration: none;
    padding: 0.7vw 1.8vw;
    background-color: #ececec;
    border: 0.14vw solid #3a3a3a;
    border-radius: 60vw;
    display: block;
    text-align: center;
}

.shoppagemain .banner .info .btn:hover{
    color: #FE793E;
    border: 0.14vw solid #FE793E;
}



/*============================================= */

.shoppagemain .shoppagecontent{
    position: relative;
    margin: auto;
    padding: 9.5vw 0;

}

.shoppagemain .shoppagecontent .deco .sticker-flower1 img{
    position: absolute;
    right: 2vw; 
    top: 3vw;
    width: 12vw;
    rotate: -14deg;
    vertical-align: bottom;
}

.shoppagemain .shoppagecontent .deco .sticker-flower2 img{
    position: absolute;
    right: 10vw; 
    top: 12vw;
    width: 8vw;
    rotate: -14deg;
    vertical-align: bottom;
}

.shoppagemain .shoppagecontent .deco .sticker-bomb1 img{
    position: absolute;
    left: 17vw; 
    top: 25vw;
    width: 7vw;
    rotate: 14deg;
    vertical-align: bottom;
}

.shoppagemain .shoppagecontent .deco .sticker-bomb2 img{
    position: absolute;
    right: 10vw; 
    top: 90vw;
    width: 7vw;
    vertical-align: bottom;
}

.shoppagemain .deco .sticker-eye img{
    position: absolute;
    left: 4.5vw; 
    bottom: 40vw;
    width: 7vw;
    rotate: -14deg;
    vertical-align: bottom;
}



/* ============================================= */

.shoppagemain .shoppagecontent p{
    color: #3a3a3a;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
    text-align: center;
    line-height: 3vw;
    padding-bottom: 5.7vw;
}

.shoppagemain .shoppagecontent .primg{
    
}

.shoppagemain .shoppagecontent .primg .img{
    padding: 1.7vw 0;
}

.shoppagemain .shoppagecontent .primg .img img{
    margin: auto;
    display: block;
    width: 72vw;
    vertical-align: bottom;
}
/* ======================================================== */
