header nav ul li:nth-child(4) a{
    color: var(--orange-color);
}

.banner{
    width: 100%;
    /* height: 25vw; */
    vertical-align: bottom;
    position: relative;
}

.banner h2{
    color: #fff;
    font-size: var(--h2-font-size);
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    
    position: absolute;
    top: 13.5vw;
    /* bottom: 0; */
    left: 13.2vw;
    animation: bannertitle 1s;
}

@media screen and (max-width:768px){
    .banner h2{
        font-size: var(--h2ph-font-size);
    }
}

@keyframes bannertitle{
    0%{
        left: 11.2vw;
    }

    100%{
        left: 13.2vw;
    }
}

.banner img{
    width: 100%;
    vertical-align: bottom;
}

/* ============================================= */

.info{
    position: relative;
    margin: auto;
}

.sticker-earth img{
    position: absolute;
    right: 4.5vw; 
    bottom: 15vw;
    width: 6vw;
    rotate: -14deg;
    vertical-align: bottom;
}

.sticker-eye2 img{
    position: absolute;
    right: 2vw; 
    bottom: 17vw;
    width: 6vw;
    rotate: 20deg;
    vertical-align: bottom;
}

.sticker-circlebomb img{
    position: absolute;
    left: -1.5vw; 
    top: 40vw;
    width: 7vw;
    rotate: 14deg;
    vertical-align: bottom;
}

/* ============================================= */

.shopcontent{
    margin: 5.7vw auto 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: var(--borderpc-border);
    width: 74%;
}

@media screen and (max-width:1024px){
    .shopcontent{
        border-top: var(--borderpad-border);
        width: 90%;
    }
}




.shopmenu{
    position: sticky;
    top: 3.8vw;
    height: 100%;
    margin-right: 3.4vw;
    padding-top: 3.4vw;
}

@media screen and (max-width:1024px){
    .shopmenu{
        margin-right: 2vw;
    }
}

.shopmenu .shoptype{
    display: flex;
    justify-content: space-between;
    
}

.shopmenu a{
    text-decoration: none;
    color: var(--dkgray-color);
    font-size: var(--span-font-size);
    margin-bottom: 3vw;
}

@media screen and (max-width:1024px){
    .shopmenu a{
        margin-bottom: 5vw;
    }
}

@media screen and (max-width:768px){
    .shopmenu a{
        font-size: var(--spanph-font-size);
    }
}

.shopmenu a:hover{
    color: var(--orange-color);
}


.shopmenu .shoptype span:first-child{
    padding-right: 4vw;
}


/* ============================================= */


.product{
    padding-top: 3.4vw;
    padding-bottom: 9.5vw;
    padding-left: 3.4vw;
    border-left: var(--borderpc-border);
}

@media screen and (max-width:1024px){
    .product{
        padding-left: 2vw;
        border-left: var(--borderpad-border);
    }
}

.product .itemgroup{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: start; */
    width: 100%;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width:1024px){
    .product .itemgroup{
        grid-template-columns: repeat(2, 1fr);
    }
}

.product .itemgroup .item{
    /* margin: 0 0.5vw 0.5vw 0.5vw; */
    position: relative;
}





.product .top{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    padding: 1vw 1vw 0 1vw;
}



.product .name{
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
    letter-spacing: 0.08vw;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
}

@media screen and (max-width:768px){
    .product .name{
        font-size: var(--pph-font-size);
    }
}

.product .arrow{
    position: absolute;
    /* display: none; */
    top: 1vw;
    right: 1vw;
}

.product .arrow img{
    rotate: 45deg;
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    width: 1.2vw;
    vertical-align: bottom;
}

.product .arrow2{
    position: absolute;
    top: 1vw;
    right: 1vw;
}

.product .arrow2 img{
    rotate: 45deg;
    width: 1.2vw;
    vertical-align: bottom;
}

@media screen and (max-width:1024px){
    .product .arrow img{
        width: 1.8vw;
    }

    .product .arrow2 img{
        width: 1.8vw;
    }
}

.product .detail{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 2vw;
    padding: 1.5vw 1vw 0 0;
    color: var(--dkgray-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--span-font-size);
    line-height: 22px;
    display: none;
    text-align: justify;
}

@media screen and (max-width:1024px){
    .product .detail{
        padding: 2.5vw 1vw 0 0;
        line-height: 20px;
    }
}

@media screen and (max-width:768px){
    .product .detail{
        font-size: var(--spanph-font-size);
    }
}

.product .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.product .itemgroup .item a:hover .overlay{
    display: block;
}

.product .itemgroup .item a:hover .top .name{
    color: var(--dkgray-color);
    text-shadow: none;
    z-index: 2;
}

.product .itemgroup .item a:hover .top .arrow img{
    display: none;
}

.product .itemgroup .item a:hover .top .arrow2 img{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    rotate: 180deg;
    transition: 0.5s;
    z-index: 88;
    
}


.product .itemgroup .item a:hover .top .detail{
    display: block;
    transition: 1s;
    z-index: 2;
}







.product .bottom{
    display: flex;
    position: absolute;
    vertical-align: bottom;
    align-items: end;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 0 1vw 1vw 1vw;
    bottom: 0;
}

.product .price{
    color: #fff;
    font-size: var(--p-font-size);
    letter-spacing: 0.08vw;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 80);
}

@media screen and (max-width:768px){
    .product .price{
        font-size: var(--pph-font-size);
    }
}

.product .stamp1{
    color: #fff;
    font-size: var(--stamp-font-size);
    letter-spacing: 0.08vw;
    width: 4vw;
    height: 4vw;
    background-color: var(--orange-color);
    border-radius: 30vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product .stamp2{
    color: #fff;
    font-size: var(--stamp-font-size);
    letter-spacing: 0.08vw;
    width: 4vw;
    height: 4vw;
    background-color: #909090;
    border-radius: 30vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width:1024px){
    .product .stamp1{
        width: 6vw;
        height: 6vw;
    }
    
    .product .stamp2{
        width: 6vw;
        height: 6vw;
    }
}

@media screen and (max-width:768px){
    .product .stamp1{
        font-size: var(--stampph-font-size);
    }
    
    .product .stamp2{
        font-size: var(--stampph-font-size);
    }
}

.product .primg img{
    /* width: 17.3vw;
    height: 17.3vw; */
    width: 100%;
    vertical-align: bottom;
}



.product .page{
    text-align: center;
    margin-top: 3.4vw;
}

.product .page a{
    color: var(--dkgray-color);
    font-size: var(--p-font-size);
    text-decoration: none;
    margin: 1vw;
}

@media screen and (max-width:768px){
    .product .page a{
        font-size: var(--pph-font-size);
    }
}

.product .page a:hover{
    color: var(--orange-color);
    border-color: var(--orange-color);
}