header nav ul li:nth-child(4) a{
    color: var(--orange-color);
}

.banner{
    width: 90%;
    margin: auto;
    padding-top: 8.5vw;
    padding-bottom: 3vw;
    border-bottom: var(--borderpc-border);
    display: flex;
    justify-content: center;
    
    /* display: grid;
    gap: 1vw;
    grid-template-columns: 8.1vw 35.4vw 27vw;
    grid-template-rows: 8.1vw 8.1vw 8.1vw 8.1vw;
    align-content:center;
    justify-content:center; */
}

@media screen and (max-width:1024px){
    .banner{
        padding-top: 11.5vw;
        padding-bottom: 4vw;
        border-bottom: var(--borderpad-border);
        flex-direction: column;
    }
}

.bannerimg{
    display: grid;
    gap: 1vw;
    grid-template-columns: 8.1vw 35.4vw;
    grid-template-rows: 8.1vw 8.1vw 8.1vw 8.1vw;
    align-content:center;
    justify-content:center;
}

@media screen and (max-width:1024px){
    .bannerimg{
        grid-template-columns: 17vw 71vw;
        grid-template-rows: 17vw 17vw 17vw 17vw;
    }
}

.imgs1{
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

.imgs1 img{
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.imgs1 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.imgs1:hover .overlay{
    display: block;
}



.imgs2{
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
}

.imgs2 img{
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.imgs2 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.imgs2:hover .overlay{
    display: block;
}



.imgs3{
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
}

.imgs3 img{
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.imgs3 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.imgs3:hover .overlay{
    display: block;
}


.imgs4{
    grid-column: 1/2;
    grid-row: 4/5;
    position: relative;
}

.imgs4 img{
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.imgs4 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


.imgs4:hover .overlay{
    display: block;
}



.imgmain{
    position: relative;
    
}

.imgl{
    grid-column: 2/3;
    grid-row: 1/5;
}

.imgl img{
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.arrow_left img{
    rotate: -90deg;
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    position: absolute;
    left: 1.7vw;
    top: 200%;
    width: 1.2vw;
}

.arrow_right img{
    rotate: 90deg;
    filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
    position: absolute;
    right: 1.7vw;
    top: 200%;
    width: 1.2vw;
}

@media screen and (max-width:1024px){
    .arrow_left img{
        width: 1.8vw;
        top: 200%;
    }
    
    .arrow_right img{
        width: 1.8vw;
        top: 200%;
    }
}

.imgmain:hover .arrow_left img{
    animation: arrowleft .5s;
}

.imgmain:hover .arrow_right img{
    animation: arrowright .5s;
}

@keyframes arrowleft{
    0%{
        left: 2.7vw;
    }
    100%{
        left: 1.7vw;
    }
}

@keyframes arrowright{
    0%{
        right: 2.7vw;
    }
    100%{
        right: 1.7vw;
    }
}

/*============================================= */

.info{
    align-self: center;
    padding-left: 2vw;
}

@media screen and (max-width:1024px){
    .info{
        width: 100%;
        margin: auto;
        padding-top: 6vw;
        padding-left: 0vw;
        /* align-self: start; */
    }
}

.info h3{
    padding-bottom: 1.7vw;

    color: var(--dkgray-color);
    font-weight: bold;
    font-size: var(--h3-font-size);
}

@media screen and (max-width:768px){
    .info h3{
        font-size: var(--h3ph-font-size);
    }
}

.info p{
    color: var(--dkgray-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
    line-height: 3vw;
    padding-bottom: 3vw;
}

@media screen and (max-width:768px){
    .info p{
        font-size: var(--pph-font-size);
    }
}

.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.7vw;
}


.detail .count{
    display: flex;
    flex-wrap: nowrap;
    padding: 0.3vw 1.7vw;
    background-color: var(--lggray-color);
    border: var(--borderpc-border);
    border-radius: 60vw;
    display: block;
}

@media screen and (max-width:1024px){
    .detail .count{
        padding: 6.5px 22px;
        border: var(--borderpad-border);
    }
}

.detail .count button{
    border: none;
    font-family: 'Syncopate', 'Noto Sans TC', sans-serif;
    font-size: var(--span-font-size);
    background: none;
}

@media screen and (max-width:768px){
    .detail .count button{
        font-size: var(--spanph-font-size);
    }
}

.detail .count input{
    outline: none;
    border: none;
    font-family: 'Syncopate', 'Noto Sans TC', sans-serif;
    font-size: var(--span-font-size);
    width: 5.5vw;
    /* padding-right: 3.5vw; */
    text-align: center;
    background: none;
}

@media screen and (max-width:768px){
    .detail .count input{
        font-size: var(--spanph-font-size);
    }
}

.detail .count button:hover{
    color: var(--orange-color);
}


.price{
    color: var(--dkgray-color);
    font-weight: bold;
    font-size: var(--h3-font-size);
}

@media screen and (max-width:768px){
    .price{
        font-size: var(--h3ph-font-size);
    }
}

.btn{
    color: var(--orange-color);
    font-size: var(--span-font-size);
    text-decoration: none;
    padding: 0.7vw 1.8vw;
    background-color: var(--lggray-color);
    border: 2px solid var(--orange-color);
    border-radius: 60vw;
    display: block;
    text-align: center;
}

@media screen and (max-width:1024px){
    .btn{
        border: 1.5px solid var(--orange-color);
        padding: 12.5px 26px;
    }
}

@media screen and (max-width:768px){
    .btn{
        font-size: var(--spanph-font-size);
    }
}


.btn:hover{
    color: var(--orange-color);
    
}



/*============================================= */

.shoppagecontent{
    position: relative;
    margin: auto;
    padding: 6vw 0 9.5vw 0;
}

@media screen and (max-width:1024px){
    .shoppagecontent{
        padding: 8vw 0 13vw 0;
    }
}

.sticker-flower1 img{
    position: absolute;
    right: 0vw; 
    top: 3vw;
    width: 12vw;
    rotate: -14deg;
    vertical-align: bottom;
}

.sticker-flower2 img{
    position: absolute;
    right: 8vw; 
    top: 12vw;
    width: 8vw;
    rotate: -14deg;
    vertical-align: bottom;
}

.sticker-bomb1 img{
    position: absolute;
    left: 10vw; 
    top: 26vw;
    width: 7vw;
    rotate: 14deg;
    vertical-align: bottom;
}

.sticker-bomb2 img{
    position: absolute;
    right: 3vw; 
    top: 90vw;
    width: 7vw;
    vertical-align: bottom;
}

.sticker-eye img{
    position: absolute;
    left: 4.5vw; 
    bottom: 45vw;
    width: 7vw;
    rotate: -14deg;
    vertical-align: bottom;
}



/* ============================================= */

.shoppagecontent p{
    color: var(--dkgray-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--p-font-size);
    text-align: center;
    line-height: 3vw;
    padding-bottom: 5.7vw;
}

@media screen and (max-width:1024px){
    .shoppagecontent p{
        line-height: 4vw;
    }
}

@media screen and (max-width:768px){
    .shoppagecontent p{
        font-size: var(--pph-font-size);
    }
}

.primg .img{
    padding: 1.7vw 0;
}

.primg .img img{
    margin: auto;
    display: block;
    width: 74%;
    vertical-align: bottom;
}

@media screen and (max-width:1024px){
    .primg .img img{
        width: 90%;
    }
}
/* ======================================================== */
